.text-white {
  color: #fff !important;
}

.btn-utama {
  background-color: #36b9cc;
  border: #36b9cc;
}

.btn-utama:hover {
  background-color: #2390a0;
  border-color: #2390a0;
}

thead {
  background-color: #179bde;
  color: white;
}

.link-red {
  color: red;
}

.link-green {
  color: #2a96a5;
}

.custom-select.max-view {
  width: 156px;
}

card-50 {
  width: 360px;
}

.card-50 {
  max-width: 360px;
}

.card-75 {
  max-width: 768px;
}

.card.shadow.mb-4 {
}

.card-image {
  /*height: 558px;*/
}

.img-product {
  height: 250px;
}

.breadcrumb {
  background-color: transparent;
}

.bc-link {
  color: #666;
}

.retur-label {
  padding: .5px 6px;
  border-radius: 3.3px;
  margin-left: 10px;
  font-size: .75em;
}

.body-login {
  background-image: url('linear-gradient(180deg,#4e73df 10%,#224abe)');
  background-color: #179bde;
}