
  
  @media print {
      .hide-in-cetak {
          display: none;
      }
      .page-break {
        page-break-after: always;
      }
  }
  
  #container_2 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .pdf-body .table td, .pdf-body .table th {
    border-top: 0px;
    padding: 0rem;
  }